<!-- <ion-header>

  <ion-navbar>
    <ion-title>Notification</ion-title>
  </ion-navbar>

</ion-header> -->

<!-- <ion-content padding> -->
  <h5 *ngIf="!num">ไม่มีการแจ้งเตือน</h5>
  <ion-list *ngIf="num">
   <ion-item  *ngFor="let item of items">
     <div *ngIf="item.notify_type==1">
       <center>
        <img src="img/delivery.png" alt="" width="30" height="30"/>
       </center>
     </div>
     <div *ngIf="item.notify_type==2">
       <center>
        <img src="http://localhost/Bagus/images/deliveryman/{{item.cp_picstaff}}" alt="" width="30" height="30"/>
       </center>
     </div>
     <h5 text-left>การสั่งที่ : A00{{item.id_order}}</h5>
     <h5 text-left>วันที่สั่ง : {{item.order_date}}</h5>
     <h5 text-left>เวลาที่สั่ง : {{item.order_time}}</h5>
      <p text-left>วันที่แจ้ง : {{item.notify_date}}</p>
      <p text-left>เวลาแจ้ง : {{item.notify_time}}</p>
   <center>
     <button orenge (click)="goToDetailNotification(item)">
       รายละเอียด
     </button>
  </center>
  </ion-item>
 </ion-list>
<!-- </ion-content> -->
